.content{
    width: 100%;
    padding: 60px 10px;
    float: left;
}

.content-100{
    min-height: 100%;
}

@media (min-width: 992px){
    .content{
        padding-right: calc((100% - 992px)/2);
        padding-left: calc((100% - 992px)/2);
    }
}