/*  DEFAULT  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Consolas, monaco, monospace;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #1d1f21;
}

a{
    text-decoration: none;
}

/*  KEYWORD COLOR  */
.keyword{ color: #357ef8; }

.properties{ color: #957fcf; }

.string{ color: #d87624; }

.comment{ color: #767676; }

.value{ color: #85a309; }

.cursor::after{
    content: '|';
    animation: cursor ease-in-out 500ms infinite alternate both;
}
.bash-cursor::after{
    content: '_';
    animation: cursor ease-in-out 500ms infinite alternate both;
}

/*  CODE & BASH LINE  */
.window-bar{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-color:  rgb(60, 63, 65);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.window-bar::before{
    content: '- x ';
    display: block;
    height: 20px;
    background-color: black;
    text-align: right;
    padding: 0px 10px;
}
.bash-line{
    position: relative;
    display: block;
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 5px;
    background-color: rgb(42, 42, 42);
    overflow: hidden;
}
a.bash-line:hover{
    background-color: rgb(50, 50, 50);
}

.bash-line::before{
    content: '[root@us]>';
    color: #767676;
}

.code-line-1,
.code-line-2,
.code-line-3,
.code-line-4,
.code-line-5,
.code-line-6,
.code-line-7,
.code-line-8,
.code-line-9,
.code-line-10,
.code-line-11,
.code-line-12{
    position: relative;
    display: block;
    min-height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 40px;
}

.code-line-1::before{
    content: '1';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-2::before{
    content: '2';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-3::before{
    content: '3';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-4::before{
    content: '4';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-5::before{
    content: '5';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-6::before{
    content: '6';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-7::before{
    content: '7';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-8::before{
    content: '8';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-9::before{
    content: '9';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-10::before{
    content: '10';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-11::before{
    content: '11';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}
.code-line-12::before{
    content: '12';
    position: absolute;
    top: 0px;
    left: 10px;
    color: gray;
}

.code-tab{
    display: block;
    width: 50px;
    height: 5px;
    float: left;
}

/*  INPUT  */
textarea,
input[type="email"],
input[type="email"]:focus,
input[type="email"]:active,
input[type="email"]:hover,
input[type="text"],
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:hover{
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
    border-bottom: 1px solid white;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

textarea{
    min-height: 100px;
}

button,
input[type="button"],
input[type="submit"]{
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    color: inherit;
    font: inherit;
    padding: 5px;
    border-radius: 3px;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover{
    cursor: pointer;
}


/*  SCROLLBAR  */
/*  internet explorer  */
*{
    scrollbar-base-color: rgb(49,49,49);
    scrollbar-base-color: rgb(49,49,49);
    scrollbar-3dlight-color: rgb(49,49,49);
    scrollbar-highlight-color: rgb(49,49,49);
    scrollbar-track-color: rgb(15,15,15);
    scrollbar-arrow-color: rgb(49,49,49);
    scrollbar-shadow-color: rgb(49,49,49);
    scrollbar-dark-shadow-color: rgb(49,49,49);
}

/* webkit based browser */
::-webkit-scrollbar { width: 10px; height: 5px; }
::-webkit-scrollbar-track {background-color: rgb(15,15,15);}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {background-color: rgb(49,49,49);}

/*  CAROUSEL  */
.carousel{
    position: relative;
    height: 500px;
    line-height: 500px;
    vertical-align: middle;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel .arrow-left,
.carousel .arrow-right{
    position: absolute;
    color: white;
    font-size: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.carousel .arrow-left:hover,
.carousel .arrow-right:hover{
    color: #c2c2c2;
}
.carousel .arrow-left{left: 0px;}
.carousel .arrow-right{right: 0px;}



/*  TYPOGRAPHY   */

h1{
    font-size: 3.8em;
    font-weight: 100;
}
h3{ 
    font-size: 1.5em;
    font-weight: 100;
}
p{ margin-bottom: 10px; }

@media (max-width: 480px) {
    h1{ font-size: 2.3em; }
    h3{ font-size: 1em; }
}

/*   RESPONSIVE UTILITIES   */
@media (max-width: 480px) {
    .hide-mobile{ display: none; }
}






















