#team .team-component{
    position: relative;
    float: left;
    width: 248px;
    height: 248px;
    border: 1px solid white;
}

#team .team-component-double{
    width: 100%;
}


@media (max-width: 992px){
    #team .team-component, #team .team-component-double{
        width: 256px;
        height: 256px;
    }
}

@media (max-width: 768px){
    #team .team-component{
        width: 221px;
        height: 221px;
    }
    #team .team-component-double{
        width: 100%;
    }
}

@media (max-width: 442px){
    #team .team-component{
        width: 50%;
        height: 110px;
    }
    #team .team-component-double{
        width: 100%;
    }
}












